__pycache__/
*.pyc
.venv/
.venv-mac/
dist/
build/
*.egg-info/
.DS_Store
DerivedData/
*.xcuserdata/
*.xcuserstate
native/VirtualFaceCamMac.xcodeproj/project.xcworkspace/xcuserdata/
native/VirtualFaceCamMac.xcodeproj/xcuserdata/
